@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  width: 100%;
  place-items: center;
  background-color: #f2f2f2;
  padding: 2rem;
}

.preview-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .preview-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.preview-card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  max-width: 35rem;
  padding: 5rem;
}

.preview-card-container .card:nth-child(1) {
  background-color: #e38826;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .preview-card-container .card:nth-child(1) {
    border-top-right-radius: 0rem;
  }
}

.preview-card-container .card:nth-child(1) button {
  color: #e38826;
}

.preview-card-container .card:nth-child(2) {
  background-color: #006970;
}

.preview-card-container .card:nth-child(2) button {
  color: #006970;
}

.preview-card-container .card:nth-child(3) {
  background-color: #004241;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.preview-card-container .card:nth-child(3) button {
  color: #004241;
}

@media screen and (min-width: 768px) {
  .preview-card-container .card:nth-child(3) {
    border-bottom-left-radius: 0rem;
  }
}

.preview-card-container .card .card-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
}

.preview-card-container .card .card-text-container .heading {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(4rem, calc(3.7183rem + 0.7512vw), 4.8rem);
  color: #f2f2f2;
  margin: 2rem 0;
}

.preview-card-container .card .card-text-container .description {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: clamp(1.6rem, calc(1.5296rem + 0.1878vw), 1.8rem);
  text-align: left;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .preview-card-container .card .card-text-container .description {
    margin-bottom: 13rem;
  }
}

.preview-card-container .card .card-text-container button {
  background-color: #f2f2f2;
  border: 0.2rem solid transparent;
  font-family: "Lexend Deca", sans-serif;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
}

.preview-card-container .card .card-text-container button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #f2f2f2;
  border: 0.2rem solid #f2f2f2;
}
/*# sourceMappingURL=style.css.map */